.Home {
  
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.Home-div {
  padding-left: 15%;
  padding-right: 15%;
  background-color: rgba(0,0,0,0.1);
  padding-bottom: 15%;
}
