.Navhead {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 1%;
  padding-bottom: 1%;
  position: sticky;
  top: 0;
  background-color: white;
}

.Navhead-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Navhead-list {
  display: flex;
  flex-direction: row;
}

.HeadNavModal {
  width: 80%;
  position: fixed;
  top: 0;
  margin-top: 15%;
  margin-left: 15%;
  align-content: center;
  align-items: center;
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
  border-color: grey;
  border-width: 2;
  background-color: rgba(0, 0, 0, 0.5);
}
